/* UNIVERSAL */
* {
    margin: 0;
    font-family: 'Fira Sans', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color:whitesmoke;
    overflow-y: scroll;
}


/* HEADER */

#header-area {
    display: flex;
    align-items: center;
    padding: 2vh;
    height: 8vh;
    color: black;
}

#logo {
    height: 10vh;
}

#logo:hover {
    transform: rotate(360deg);
    transition: all 2s ease;
}

#subtitle {
    margin: 0 1%;
    font-size: 0.1em;
    align-self: flex-end;
}


/* BODY */

#body-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 85vh;
    width: 100vw;
    gap: 0.5%;
    margin: 0.5% 0;
}

#body-area-left {
    width: 20vw;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(198, 204, 211);
}

#toolbar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

#toolbar img {
    height: 40px;
    width: auto;
    border: 1px solid black;
    border-radius: 3px;;
    padding: 5px;
    background-color: rgb(215, 218, 221);
}

#toolbar input {
    height: 50px;
    width: 60px;
    border: 1px solid black;
    border-radius: 3px;
    background-color: rgb(215, 218, 221);
    transition: ease-in-out;
}

#toolbar img:hover, #toolbar input:hover, #options button:hover {
    transform: scale(1.05);
    background-color: rgb(227, 230, 233);
    transition-duration: 0.3s;
}

#toolbar img:active, #toolbar input:active, #options button:active {
    transform: scale(1.1);
    background-color: rgb(179, 179, 179);
    transition-duration: 0.02s;
}

#fill, #pen {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    gap: 10%;
}

#body-area-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70vw;
    min-width: 350px;
}

#grid-area {
    display: flex;
    justify-content: center;
    margin-bottom: 1%;
    height: 80%;
    flex: 2 1 auto;
    border: 1px solid black;
    border-radius: 5px;
    padding: 3%;
    background-color: rgb(198, 204, 211);
}

#grid {
    display: flex;
    flex-wrap: wrap;
    width: 30em;
    height: 30em;
    border: 2px solid black;
    box-shadow: 1px 1px 2px black;
}

.grid-box {
    background-color: white;
    border: 0.1px solid black;
    box-sizing: border-box;
    transition-duration: 0.2s;
}

#options {
    flex: 1 5 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
    padding: 3% 0;
    background-color: rgb(198, 204, 211);
    color: white;
}

#options button {
    border: 1px solid black;
    border-radius: 3px;
    background-color: rgb(215, 218, 221);
    transition: ease-in-out;
    height: 40px;
    width: 80px;
}

#options button:disabled {
    background-color: rgb(133, 133, 133);
    color: rgb(187, 187, 207);
    transform: none;
}

#dimension-options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2%;
}

#grid-dimension {
    border: 3px solid rgb(88, 88, 92);
    border-radius: 5px;
    width: 75px;
    height: 30px;
}

#grid-dimension:focus-visible {
    outline: none !important;
}

#current-grid {
    text-align: center;
    color: black;
    margin-bottom: 5px;
}